#user-menu {
    position: absolute;
    right: 24px;
}

.link a{
    text-decoration: none;
    color: #536dfe; 
    width: 100%;
}

@media screen and (max-width: 599px) {
    #user-menu {
        right: 16px
    }
}