.main-container {
    /*background: url('../assets/img/bracelets-collaboration-colleagues-398532.jpg') center;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/img/bracelets-collaboration-colleagues-398532.jpg');
    background-position: center;
    /*background-image: url('../assets/img/chicago-690364_1920.jpg');*/
    background-blend-mode: screen;
}

#main-header-container {
    padding: 15px;
    /*background-image: url('../assets/img/bracelets-collaboration-colleagues-398532.jpg');*/
    background-image: url('../assets/img/Bright-Blue.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px 0px 0px 4px;
}

#login-form-container {
    padding: 15px;
}

.login-error-message {
    margin-top: 15px;
    margin-bottom: 3px;
    font-weight: bold;
    color: #f44336;
    display: none;
}



@media screen and (max-width: 425px){
    #log-in-form-header {
        display: none;
    }

    #log-in-form-subheader {
        display: none;
    }

    #login-form-container{
        padding-top: 0px;
    }

    #main-header-container {
        padding-bottom: 0px;
    }
}


