.main-container {
    background: url('../assets/img/bracelets-collaboration-colleagues-398532.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
}

#main-header-container {
    padding: 15px;
}

#login-form-container {
    padding: 15px;
}

.login-error-message {
    margin-top: 15px;
    margin-bottom: 3px;
    font-weight: bold;
    color: #f44336;
    display: none;
}



@media screen and (max-width: 425px){
    #log-in-form-header {
        display: none;
    }

    #log-in-form-subheader {
        display: none;
    }

    #login-form-container{
        padding-top: 0px;
    }

    #main-header-container {
        padding-bottom: 0px;
    }
}


