.main-container {
    background: url('../assets/img/bracelets-collaboration-colleagues-398532.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-error-message {
    margin-top: 15px;
    margin-bottom: 3px;
    font-weight: bold;
    color: #f44336;
    display: none;
}